body{
    padding: 0px;
    margin: 0px auto;
    font: 12pt sans-serif;
    width: 1000px;
}

#header{
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

#sidebar{
    float: right;
    width: 200px;
    padding-left: 10px;
    margin-left: 10px;
    background: #f5f5f5;
}

#content{
    padding-right: 220px;
}

#menu{
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}

#menu p a{
    color: #B11116;
}

#menu ul{
    list-style: none;
}

#menu li{
    padding: 2px 0px;
}

#menu li a{
    color: #333;
}

#wrapper{
    width: 1024px;
    margin: 0px auto;
}

h2{
    color: #B11116;
    font-size: 30px;
}

.title{
    font-size: 16px;
    background-color: #babaff;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 12px;
}

.title_1{
    color: #45688E;
    margin-bottom: 12px;
}

blockquote{
    background-color: #F5F7F8;
    border-bottom: 2px solid #EBEFF2;
    border-left: 9px solid #C9D8DF;
    margin: 10px 0 0;
    padding: 10px;
    word-wrap: break-word;
}