.errorMessage{
    color: red;
}


#login-form .errorMessage{
    margin: 10px 0px;
}

.admin_menu{
    background: #3D3A3E;
    padding-top: 10px;
}

.admin_menu ul{
    list-style: none;
    width: 1160px;
    text-align: right;
    margin: 0px auto;
}

.admin_menu li{
    display: inline-block;
    padding: 5px 20px;
}

.admin_menu li a{
    color: #fff;
}

.login_box .login_entry{
    width: auto;
}

.siteback{
    background: #FF8200;
    margin-left: 100px;
}

.admin_menu_container{
    padding-left: 260px;
}

.menu_index{
    margin-left: 30px;
}

#content_wrapper .wrapper{
    float: left;
    margin-left: 50px;
    width: 840px;
}

.admin_menu_container .column_center{
    padding-top: 0px;
}

.under_construction{
    border: 2px dashed crimson;
    background: #F4ACAC;
    padding: 40px 100px;
    font-size: 22px;
    text-align: center;
    line-height: normal;
}

.product_row_count{
    display: none;
}

.black{color:#000;}

.product_submit.update{
    float: left;
    margin-left: 100px;
}
.product_delete {
     background: url("../images/product_remove.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
     border: medium none;
     cursor: pointer;
     float: right;
     margin-right: 100px;
     height: 80px;
     outline: medium none;
     width: 80px;
     text-decoration: none!important;
 }

.product_recovery {
    background: url("../images/product_recovery.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    float: right;
    margin-right: 100px;
    height: 80px;
    outline: medium none;
    width: 80px;
    text-decoration: none!important;
}

.right_links .mail_ic, .right_links .set_ic{
    text-decoration: none!important;
}

#load-image{
    width: 650px;
    min-height: 125px;
    overflow: auto;
}

#load-image img{
    max-width: 640px;
    max-height: 640px;
}

.btn-success {
    background-color: #FF8200;
    color: #FFFFFF;
    display: block;
    width: 120px;
    border-radius: 5px;
    padding: 5px;
}


.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #FF9614;
    color: #FFFFFF;
}

.progress {
    background-color: #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.progress-bar-success {
    background-color: #FF8200;
}

.progress-bar {
    background-color: #FF8200;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 20px;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
}

.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 200px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.left_menu li{
    position: relative;
}

.left_menu li .menu_ico{
    height: 41px;
    left: 10px;
    margin-top: -21px;
    position: absolute;
    top: 50%;
    width: 40px;
}

.left_menu li .menu_ico img {
    border-radius: 21px;
}


.style_hid a, .style_hid span{
    font-style: italic;
    text-decoration: line-through;
}

.style_del a, .style_del span{
    text-decoration: line-through;
    color: #920000!important;
}



.left_menu li:hover > .edit-link2{
    display: block !important;
}

.left_menu li .edit-link2{
    background: url("../images/edit_ico.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    display: none !important;
    position: absolute !important;
    right: 35px;
    top: 8px;
    padding: 0px!important;
    height: 30px;
    width: 30px;
}


.dishes_list .depressed .dish_box{
    background: url("../images/orange30.png") repeat;
    border-radius: 0 40px 40px 0;
}

.order_view_table{
    border: 1px solid #FFFFFF;
    border-collapse: separate;
    margin-bottom: 30px;
}

.order_view_table td {
    text-align: left;
    background: url("../images/black20.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 13px;
}

.pager{
    margin: 5px 0px;
}


#sidebar{
    margin-left: 20px;
}

#sidebar .portlet-decoration{
    background: #FF8200;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
}

#sidebar .operations a{
    padding: 3px 10px;
    margin-top: 10px;
    background: #555;
    color: #fff;
    border-radius: 2px;
    display: block;
}

.choose_restaurant{
    padding: 10px;
    background-color: #ccc;
    margin: 10px 0px;
}

.choose_restaurant select{
    padding: 3px;
    border: 1px solid #ccc;
    width: 200px;
    margin-left: 10px;
    margin-right: 50px;
}

.choose_restaurant input[type=submit]{
    padding: 5px;
    border: none;
    cursor: pointer;
    background: #555;
    color: #fff;
}

#crop_img_release{
    cursor: pointer;
    text-align: center;
}

.product_label_big{
    font-size: 16px;
    border-bottom: 1px solid #555;
    display: block;
    margin: 20px 0px 10px 0px;
}

.product_serving{
    height: 85px;
}

.action_time{
    color: #666;
    margin-top: 5px;
    font-size: 11px;
}

.action_date{
    background: none repeat scroll 0 0 #FFFFFF;
    border:1px solid #fff;
    color: #333333;
    font-size: 11px;
    height: 18px;
    line-height: 20px;
    outline: medium none;
    width: 56px;
}

#ui-datepicker-div{
    z-index: 1000!important;
}

.alert_error{
    background: #ff9898;
    color: #000;
    padding: 40px;
    font-size: 20px;
    text-align: center;
    line-height: normal;
}

span.required{
    color: #ff0000;
}

.ingroup .lanch_item{
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
}

.ingroup .lanch_item:hover{
    background: url(../images/white60.png);
}

.ingroup .lanch_item .name{
    padding-right: 10px;
}

.ingroup .lanch_item .measure{
    padding-right: 20px;
    color: #808080;
    font-weight: bold;
}

.ingroup .lanch_item .delete{float: right; cursor: pointer; padding: 2px 5px 1px 4px; font-size: 14px; font-weight: bold; color: #000000;}
.ingroup .lanch_item .delete:hover{background: #ccc;}

.dishes_list2 li .dish_desc{
    padding: 2px;
}

.dishes_list2 li .dish_desc.active{
    background: #6cc66c;
}

.dish_desc{
    text-decoration: none;
}

#dish_search{
    border-bottom: none;
    margin-bottom: 0;
}

.ingroup_sortable_placeholder{
    height: 21px;
    background: #d9d9d9;
    border: 1px dashed #FF8200;
    padding: 4px;
}

.condition_sortable_placeholder{
    height: 100px;
    background: #d9d9d9;
    border: 1px dashed #FF8200;
    margin-bottom: 15px;
}

.dishes_sortable_placeholder{
    height: 80px;
    background: #d9d9d9;
    border: 1px dashed #FF8200;
    margin: 10px 0px;
}

.menu_sortable_placeholder{
    height: 43px;
    background: #d9d9d9;
    border: 1px dashed #FF8200;
    margin: 0px 0px;
}

#dishes_sortable li{
    position: relative;
}

.hidden{
    display: none;
}

.show_filter{
    color: #d75a00;
    text-decoration: underline;
    font-size: 11px;
}

#dishes_sortable .dish_box{
    cursor: pointer;
}

.dishes_filter{
    border: 1px solid #fff;
    background: #d9d9d9;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
}

.dishes_filter input{
    width: 165px;
    border: 1px solid #ccc;
    padding: 5px;
    float: left;
}

.dishes_filter select{
    width: 165px;
    border: 1px solid #ccc;
    padding: 4px;
    float: right;
}

.spec_new{
    width: 37px;
    height: 37px;
    background: url("../images/icons/spec_new.png") no-repeat;
    position: absolute;
    top: 0px;
    left: -10px;
    z-index: 2;
}

.spec_hit{
    width: 37px;
    height: 37px;
    background: url("../images/icons/spec_hit.png") no-repeat;
    position: absolute;
    top: 0px;
    left: -10px;
    z-index: 2;
}

.order_edit_link{
    color: #FF8200;
}

.product_row{
    overflow: visible;
}

.logo_select{
    width: 110px;
    border: 1px solid #ccc;
    padding: 2px;
    margin-bottom: 10px;
}

.table_menu_top {
    float: left;
    padding-left: 22px;
    padding-top: 2px;
}

.width{

}

#map {
    width: 390px;
    height: 160px;
}

.input_row textarea, .input_row select{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    color: #666;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 16px;
    min-height: 30px;
    line-height: 20px;
    margin-bottom: 10px;
    outline: medium none;
    padding: 4px 11px;
    width: 100%;
}

.input_row textarea{
    height: 70px;
}.phone_del { display:block; width:24px; height:24px; position:absolute; background:url(../images/plus-minus.png) no-repeat 0 0; left:50%; margin-left:-12px; bottom:-12px;}
.new_phone { background:#fff; color: #808080; position:relative; padding:3px 12px; height:24px; line-height:24px; font-size:16px;}
.new_phone .phone_add { display:block; position:absolute; width:24px; height:24px; left:50%; margin-left:-12px; bottom:-12px; background:url(../images/plus-minus.png) no-repeat 0 -25px;}

.opacity_block {background: url("../images/faq_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0); font-family:Arial, Helvetica, sans-serif; color:#fff; font-size:16px; line-height:20px; padding:20px;}
.opacity_block h2 { font-size:24px; line-height:26px; margin-bottom:0; font-weight:normal;}
.opacity_block .faq {min-height:60px; background:url(../images/faq_ico.png) no-repeat 0 center; padding-left: 70px;}
.opacity_block .warning {min-height:60px; background:url(../images/pp-ico_warning.png) no-repeat 0 center; padding-left: 70px;}

.radio_list{}

.radio_list input[type="radio"] + label {
    cursor: pointer;
    height: 25px;
    margin-right: 20px;
    display: inline-block;
}

.radio_list input[type="radio"] + label:before {
    background: url("../images/radio_prices.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px -6px 0;
}

.radio_list input.checked[type="radio"] + label:before {
    background-position: 0 -21px;
}

input:disabled{
    opacity: 0.7;
}

.inp_wrap .errorMessage{
    position: absolute;
    background: none repeat scroll 0 0 #ff8200;
    padding: 15px 20px;
    width: 380px;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    left: -440px;
    top: 0px;
    box-shadow: 0 0 10px #999;
}

.inp_wrap .errorMessage:after{
    background: url("../images/error_corner.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: " ";
    height: 22px;
    position: absolute;
    right: -12px;
    top: 5px;
    width: 12px;
}

.kladr-error{
    border: 1px solid #ff8200 !important;
}

.modal_buttons input{cursor: pointer;}

form[data-dirty=true]{
    border: 1px solid red;
}

.groups_list{
    margin: 20px 0px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 20px 10px 20px;
}

.groups_list .group_item i{
    float: right;
}

.groups_list .group_item{
    font-size: 20px;
    color: #fff;
    padding: 10px;
    background: #808080;
    cursor: pointer;
    margin-bottom: 10px;
}

.groups_list .group_item.active{
    background: #ff8200;
}

.groups_root{
    margin: 10px 0px;
}

.groups_root .title{
    padding: 5px;
    font-weight: bold;
    background-color: rgba(255, 82, 0, 0.5);
    border-bottom: 1px solid #ff8200;
}

.groups_root .title i{
    float: right;
    padding: 2px;
}

.lc_filter{}

.lc_filter_icon{
    cursor: pointer;
}

.lc_filter_popup{
    display: none;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #ccc;
}

.lc_filter_popup span{
    clear: both;
    display: inline-block;
    font-size: 12px;
    padding: 0px 5px;
    margin: 0px 5px 5px 0px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.lc_filter_popup span.active{
    background: #ff8200;
}

.lc_filter_popup span[data-type=hidden]{
    font-style: italic;
}

.lc_filter_popup span[data-type=deleted]{
    color: #920000;
}