@media (max-width: 1024px) {
    #wrapper {
        min-width: 1160px;
    }
    .ctrl_orders {
        min-width: 1000px !important;
    }

    .ctrl_orders .header_center{
        width: 1000px;
    }

    .ctrl_orders .table_menu_top li {
        margin-left: 10px;
    }

    .ctrl_orders .logo_box {
        padding: 10px;
    }

    .ctrl_orders .logo_text {
        width: 130px;
    }

    .ctrl_orders header .column_left {
        width: 220px;
    }

    .ctrl_orders .header_right{
        min-width: 380px;
    }

    .ctrl_orders .table_menu {
        padding: 23px 0 0 20px;
    }

    .ctrl_orders .table_menu > li {
        margin: 0;
        width: 60px;
    }

    .ctrl_orders #root{
        width: 1000px;
    }

    .ctrl_orders #page{
        margin: 0px;
    }
}