* { margin:0; padding:0}
a { text-decoration:none; outline:0; cursor:pointer; margin:0; padding:0; color:#333;}
a:hover { text-decoration:underline;}
img { border:0 none;}
ul, ol { list-style-type:none;}
html { height:100%;}
body {font-size:14px; line-height:18px; font-family:'HelveticaNeueCyr-Roman'; color:#333; background:#fff;}
.clear { clear:both; height:0; font-size:0;}
table { width:100%; border-collapse:collapse; border-spacing:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
input, button, textarea, label { font-family:'HelveticaNeueCyr-Roman';}
.pull_left { float:left;}
.pull_right { float:right;}

@font-face {
    font-family:'HelveticaNeueCyr-Roman';
    src: url('fonts/HelveticaNeueCyr-Roman.eot');
    src: url('fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
         url('fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'),
         url('fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* HOMEPAGE */
body.homepage { background:#3d3a3e; font-size:13px; line-height:17px; color:#ccc; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.homepage #wrapper { min-width:1000px; overflow:hidden; width:100%;}
.homepage .center { max-width:1140px; margin:0 auto; position:relative;}
#home_header .center { height:440px;}
.header_device { display:block; width:298px; height:320px; background:url(../images/header_device.png) no-repeat 0 0; position:absolute; bottom:0; right:90px;}
.header_device2 { display:block; width:564px; height:356px; background:url(../images/header_device2.png) no-repeat 0 0; position:absolute; bottom:0; left:50%; margin-left:116px;}
#home_header #logo { position:absolute; left:50%; top:50%; margin:-79px 0 0 -80px;}
#nav_block { min-height:1px; overflow:hidden; padding-top:8px;}
.main_menu { float:right;}
.main_menu li { float:left; margin:0 12px;}
.main_menu li a { display:block; height:28px; line-height:28px; font-size:16px; color:#3d3a3e; text-transform:uppercase; padding-top:3px; font-weight:bold;}
.main_menu li.login-link a { background:url(../images/login_ico.png) no-repeat right center; padding-right:40px;}
.link_admin a {
    background:url(../images/login_ico.png) no-repeat right center; padding-right:40px;
}

.pattern_top, .pattern_bottom { height:7px; width:100%; position:absolute; left:0; background:url(../images/pattern.png) repeat-x;}
.pattern_top { top:-6px; background-position:top;}
.pattern_bottom { bottom:-6px; background-position:bottom;}

/* benefits section */
.benefits_section { position:relative; z-index:3;}
.benefits_list { text-align:center; vertical-align:top; font-size:0; line-height:0; padding:64px 0 35px;}
.benefits_list li { display:inline-block; vertical-align:top; zoom:1; width:220px; margin:0 35px; font-size:14px; line-height:20px;}
.benefits_list li .thumb { margin-bottom:16px;}

/* home_gray */
.home_gray { background:#ececec url(../images/home_gray.jpg) repeat 0 0; position:relative; height:616px; z-index:2;}
.pattern_bottom.gray { background:url(../images/pattern_gray.png) repeat-x 0 0;}
.big_device { position:absolute; top:68px; width:1040px; height:473px; left:50%; margin-left:-530px; z-index:10;}
.big_device2 { position:absolute; top:63px; width:949px; height:540px; left:50%; margin-left:-490px; z-index:10;}

/* simple-easy */
.simple-easy { height:484px;}
.simple_inner { width:1000px; margin:0 auto; position:relative; height:484px;}
.simple_device { position:absolute; width:354px; height:400px; background:url(../images/device2.png) no-repeat 0 0; bottom:0; right:73px;}
.simple_device2 { position:absolute; width:552px; height:401px; background:url(../images/device3.png) no-repeat 0 0; bottom:0; left:50%; margin-left:22px;}
.simple_text { padding-top:132px; width:400px; margin-left:140px; color:#fff;}
.simple_text h2 { line-height:40px; font-size:44px; color:#fff; font-weight:normal; margin-bottom:5px;}
.simple_text p { font-size:18px; line-height:21px; margin-bottom:21px;}

/* clients section */
.clients_section { position:relative; z-index:2; padding:54px 0 40px;}
.clients_section h2 { font-size:44px; color:#ccc; line-height:42px; text-align:center; margin-bottom:48px; font-weight:normal;}
.clients_list_wrap { min-height:1px; overflow:hidden; padding-bottom:45px;}
.clients_list { float:right; position:relative; right:50%;}
.clients_list li { float:left; position:relative; left:50%; text-align:center; height:88px; margin:0 44px;}
.clients_list li span { display:table-cell; vertical-align:middle;}

/* INNER PAGES */
#wrapper { border-top:10px solid #3d3a3e; min-width:1160px;}
#root { width:1160px; margin:0 auto;}

#page { margin-left:10px; min-height:1px; padding-bottom:20px;}
#page_template { margin:0 10px;}
input[type="radio"], input[type="checkbox"] { position:absolute; left:-100px; opacity:0; filter: alpha(opacity=0);}
input[type="radio"]:disabled + label, input[type="checkbox"]:disabled + label { color: gray !important;}

/* logo */
.logo_box {
    background:#fff; margin-top:-10px;
    text-align:center; padding:21px 0 12px;
}
.logo_img {
    position:relative;
    width:100px; margin:0 auto 17px;
}
.logo_img img { display:block;}
.logo_img .logo_refresh { position:absolute; display:block; width:35px; height:35px; background:url(../images/refresh.png) no-repeat 0 0; right:-17px; bottom:-17px;}
.logo_text { text-align:center; color:#333;}
.site_title { font-size:24px; line-height:24px;}
.site_address { font-size:12px; line-height:16px;}

.ctrl_messages .logo_box,
.ctrl_settings .logo_box,
.ctrl_search .logo_box,
.ctrl_default .logo_box,
.ctrl_orders .logo_box { padding:23px 23px 19px; min-height:1px; overflow:hidden;text-align:left;}

.ctrl_messages .logo_img,
.ctrl_settings .logo_img,
.ctrl_search .logo_img,
.ctrl_default .logo_img,
.ctrl_orders .logo_img { float:left; width:50px;margin:0;}

.ctrl_messages .logo_img img,
.ctrl_settings .logo_img img,
.ctrl_search .logo_img img,
.ctrl_default .logo_img img,
.ctrl_orders .logo_img img { width:50px; height:auto;}

.ctrl_messages .logo_text,
.ctrl_settings .logo_text,
.ctrl_search .logo_text,
.ctrl_default .logo_text,
.ctrl_orders .logo_text { float:right; width:162px; padding-top:4px;}

/*
#page .logo_box { text-align:center; padding:21px 0 12px;}
#page .logo_img { width:100px; margin:0 auto 17px;}

header .logo_box { padding:23px 23px 19px; min-height:1px; overflow:hidden;}
header .logo_img { float:left; width:50px;}
header .logo_img img { width:50px; height:auto;}
header .logo_text { float:right; width:162px; padding-top:4px;}
*/

/* header */
header { height:112px; margin-bottom:38px;}
.table_menu { float:left; padding:23px 0 0 40px;}
.table_menu>li { float:left; text-align:center; width:64px; margin:0 5px; position:relative;}
.table_menu>li:hover { z-index:10;}
.table_menu>li>a { display:block; line-height:14px; font-size:11px; color:#fff; text-decoration:none;}
.table_menu>li>a>.menu_icon { display:block; width:40px; height:40px; margin:0 auto 4px; background:url(../images/table_menu_icons.png) no-repeat;}
.table_menu li.menu_send .menu_icon { background-position:0 0;}
.table_menu li.menu_close .menu_icon { background-position:-41px 0;}
.table_menu li.menu_del .menu_icon { background-position:-82px 0;}
.table_menu li.menu_check .menu_icon { background-position:-123px 0;}
.table_menu li.menu_cancel .menu_icon { background-position:-164px 0;}
.table_menu li.menu_panel .menu_icon { background-position:-205px 0; margin-bottom:1px;}
.table_menu li.menu_restaurants .menu_icon { background-position:-246px 0;}
.table_menu li.menu_menus .menu_icon { background-position:-287px 0;}
.table_menu li.menu_users .menu_icon { background-position:-328px 0;}
.table_menu li.menu_orders .menu_icon { background-position:-369px 0;}
.table_menu li.menu_send:hover .menu_icon, .table_menu li.menu_send.active .menu_icon { background-position:0 -41px;}
.table_menu li.menu_close:hover .menu_icon, .table_menu li.menu_close.active .menu_icon { background-position:-41px -41px;}
.table_menu li.menu_del:hover .menu_icon, .table_menu li.menu_del.active .menu_icon { background-position:-82px -41px;}
.table_menu li.menu_check:hover .menu_icon, .table_menu li.menu_check.active .menu_icon { background-position:-123px -41px;}
.table_menu li.menu_cancel:hover .menu_icon, .table_menu li.menu_cancel.active .menu_icon { background-position:-164px -41px;}
.table_menu li.menu_panel:hover .menu_icon, .table_menu li.menu_panel.active .menu_icon { background-position:-205px -41px;}
.table_menu li.menu_restaurants:hover .menu_icon, .table_menu li.menu_restaurants.active .menu_icon { background-position:-246px -41px;}
.table_menu li.menu_menus:hover .menu_icon, .table_menu li.menu_menus.active .menu_icon { background-position:-287px -41px;}
.table_menu li.menu_users:hover .menu_icon, .table_menu li.menu_users.active .menu_icon { background-position:-328px -41px;}
.table_menu li.menu_orders:hover .menu_icon, .table_menu li.menu_orders.active .menu_icon { background-position:-369px -41px;}
.table_menu li.menu_panel>a { line-height:11px;}
.table_menu>li:hover>a, .table_menu>li.active>a { color:#ff8200;}
.table_menu li .table_submenu { display:none; position:absolute; top:46px; width:124px; left:50%; margin-left:-62px;}
.table_menu li:hover .table_submenu { display:block;}
.table_menu li .table_submenu li { margin-bottom:1px;}
.table_menu li .table_submenu li a { display:block; line-height:18px; padding:10px 20px; background:#fff; text-decoration:none; font-size:16px; color:#333; text-align:left;}
.table_menu li .table_submenu li a:hover { background:#ff8200; color:#fff;}
.header_right { padding:22px 0 36px; min-height:1px; overflow:hidden; float:right; min-width: 445px;}
.header_right .search { float:left;}
.header_right .inp_search { height:20px; line-height:20px; padding:6px 12px 5px; background:none; outline:none; border:none; border-bottom:1px solid #fff; color:#fff; font-size:14px; width:111px; float:left;}
.header_right .submit_search { display:block; float:left; width:32px; height:32px; background:url(../images/header_links.png) no-repeat 0 0; border:none; cursor:pointer; outline:none; margin-left:5px;}
.header_right .right_links { float:left;}
.header_right .right_links a { display:block; float:left; width:32px; height:32px; background:url(../images/header_links.png) no-repeat; margin-left:8px;}
.header_right .right_links a.list_ic { background-position:0 -33px;}
.header_right .right_links a.mail_ic { background-position:0 -66px;}
.header_right .right_links a.set_ic { background-position:0 -99px;}
.header_right .login_box { float:right;}
.header_right .header_bullets { float:right; margin-right:24px;}
.login_box .login_ic { float:right; width:32px; height:32px; background:url(../images/header_links.png) no-repeat 0 -132px;}
.login_box .login_entry { float:left; text-align:right; width:80px; margin-right:8px; font-size:12px; line-height:14px; color:#fff; padding:2px 0;}
.login_box .login_entry .login-link { color:#ff8200;}
.header_line { background:#3d3a3e; height:40px;}
.header_center { width:1140px; margin:0 auto;}
.header_line .table_menu_top { float:left; padding-top:2px; padding-left:22px;}
.table_menu_top li { float:left; margin-left:23px;}
.table_menu_top li a { display:block; line-height:28px; font-size:14px; color:#fff;}
.table_menu_top li:hover a, .table_menu_top li.active a { text-decoration:none; color:#ff8200;}
.table_menu_top>li .menu_icon { display:block; width:28px; height:28px; float:left; margin-right:6px; background:url(../images/table_menu_icons2.png) no-repeat;}
.table_menu_top li.menu_send .menu_icon { background-position:0 0;}
.table_menu_top li.menu_close .menu_icon { background-position:-29px 0;}
.table_menu_top li.menu_del .menu_icon { background-position:-58px 0;}
.table_menu_top li.menu_check .menu_icon { background-position:-87px 0;}
.table_menu_top li.menu_cancel .menu_icon { background-position:-116px 0;}
.table_menu_top li.menu_panel .menu_icon { background-position:-145px 0;}
.table_menu_top li.menu_restaurants .menu_icon { background-position:-174px 0;}
.table_menu_top li.menu_menus .menu_icon { background-position:-203px 0;}
.table_menu_top li.menu_users .menu_icon { background-position:-232px 0;}
.table_menu_top li.menu_orders .menu_icon { background-position:-261px 0;}
.table_menu_top li.menu_site .menu_icon { background-position:-290px 0;}
.table_menu_top li.menu_send:hover .menu_icon, .table_menu_top li.menu_send.active .menu_icon { background-position:0 -29px;}
.table_menu_top li.menu_close:hover .menu_icon, .table_menu_top li.menu_close.active .menu_icon { background-position:-29px -29px;}
.table_menu_top li.menu_del:hover .menu_icon, .table_menu_top li.menu_del.active .menu_icon { background-position:-58px -29px;}
.table_menu_top li.menu_check:hover .menu_icon, .table_menu_top li.menu_check.active .menu_icon { background-position:-87px -29px;}
.table_menu_top li.menu_cancel:hover .menu_icon, .table_menu_top li.menu_cancel.active .menu_icon { background-position:-116px -29px;}
.table_menu_top li.menu_panel:hover .menu_icon, .table_menu_top li.menu_panel.active .menu_icon { background-position:-145px -29px;}
.table_menu_top li.menu_restaurants:hover .menu_icon, .table_menu_top li.menu_restaurants.active .menu_icon { background-position:-174px -29px;}
.table_menu_top li.menu_menus:hover .menu_icon, .table_menu_top li.menu_menus.active .menu_icon { background-position:-203px -29px;}
.table_menu_top li.menu_users:hover .menu_icon, .table_menu_top li.menu_users.active .menu_icon { background-position:-232px -29px;}
.table_menu_top li.menu_orders:hover .menu_icon, .table_menu_top li.menu_orders.active .menu_icon { background-position:-261px -29px;}
.table_menu_top li.menu_site:hover .menu_icon, .table_menu_top li.menu_site.active .menu_icon { background-position:-290px -29px;}

/* column left */
.column_left { float:left; width:260px;}
.left_menu { padding-top:1px; margin-bottom:11px;}
.left_menu li+li { margin-top:1px;}
.left_menu li a { display:block; font-size:18px; line-height:24px; color:#333; text-decoration:none; padding:13px 28px; background:#fff; position:relative;}
.left_menu .submenu { display:none; border-top:4px solid #b5b1a4; border-bottom:5px solid #f1eee8; border-left:3px solid transparent; border-right:3px solid transparent; border-top:4px solid  rgba(255, 255, 255, 0.4); border-bottom:5px solid rgba(255, 255, 255, 0.8); border-left:3px solid  rgba(255, 255, 255, 0); border-right:3px solid  rgba(255, 255, 255, 0); margin-bottom:-1px;}
.left_menu li.opened>.submenu { display:block;}
.left_menu .submenu li a { background:url(../images/white60.png) repeat 0 0; padding: 15px 25px 15px 60px;}
.left_menu .submenu li.active a { background:url(../images/white20.png) repeat 0 0;}
.left_menu .submenu li:hover a { background:url(../images/orange30.png) repeat 0 0;}
.left_menu .submenu .submenu { border-top:5px solid #8c8573; border-bottom:5px solid #e7e3dc; border-top:5px solid rgba(255, 255, 255, 0.1); border-bottom:5px solid rgba(255, 255, 255, 0.8);}
.left_menu .submenu .submenu li a { background:url(../images/white30.png) repeat 0 0;}
.left_menu .submenu .submenu li.active a { color:#fff;}
/*
.left_menu li.active a{ position:absolute; width:34px; height:34px; right:-5px; top:50%; margin-top:-17px; background:url(../images/menu_arrow.png) no-repeat 0 0; display:block;}
*/
.leftmenu_buttons  { margin-bottom:15px; text-align:center; font-size:0; line-height:0;}
.leftmenu_buttons li { display:inline-block; vertical-align:top; zoom:1; width:60px; font-size:11px; line-height:12px;}
.leftmenu_buttons li+li { margin-left:5px;}
.leftmenu_buttons li a { color:#fff; text-decoration:none; display:block; position:relative;}
.leftmenu_buttons.dark li a span{color: #999;}
.leftmenu_buttons.dark li a.active span{color: #ff8200;}
.leftmenu_buttons li input { margin-bottom:2px;}
.leftmenu_buttons li img { display:block; margin:0 auto 2px;}
.leftmenu_buttons li span { opacity:0; filter: alpha(opacity=0); width:100%;}
.leftmenu_buttons li:hover span { opacity:1;  filter: alpha(opacity=100);}

.left_search { margin-top:2px; padding:12px 12px 12px 17px; background:url(../images/white60.png) repeat 0 0; height:30px;}
.left_search input.inp_left_srh, .rest_search input.inp_rest_srh { background:#fff; border:none; margin:2px 0; float:left; width:170px; padding:4px 10px; height:18px; line-height:18px; font-size:13px; color:#b2b2b2; font-family:Arial, Helvetica, sans-serif; outline:none;}
.left_search input.submit_left_srh, .rest_search input.submit_rest_srh { float:right; width:30px; height:30px; background:url(../images/left_search_ico.png) no-repeat 0 0; border:none; cursor:pointer; outline:none;}
.company_menu { margin-bottom:9px;}
.company_menu li { margin-top:1px;}
.company_menu li a { background:#fff; position:relative; display:block; padding:14px 40px 14px 63px; font-size:12px; color:#7f7f7f; line-height:14px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; text-decoration:none; min-height:32px;}
.company_menu li a span { display:block;}
.company_menu li a .company_name { font-size:18px; color:#333; line-height:18px;}
.company_menu li a .menu_arrow { position:absolute; width:24px; height:25px; background:url(../images/menu_arrow2.png) no-repeat 0 0; top:50%; margin-top:-13px; right:12px; display:none;}
.company_menu li a:hover .menu_arrow, .company_menu li.active>a .menu_arrow { display:block;}
.company_menu li .company_subbox { display:none; border-top:4px solid #b5b1a4; border-bottom:5px solid #f1eee8; border-left:3px solid transparent; border-right:3px solid transparent; border-top:4px solid  rgba(255, 255, 255, 0.4); border-bottom:5px solid rgba(255, 255, 255, 0.8); border-left:3px solid  rgba(255, 255, 255, 0); border-right:3px solid  rgba(255, 255, 255, 0); margin-bottom:-1px;}
.company_menu li.opened .company_subbox { display:block;}
.company_subbox .left_search { margin:0; padding:9px 9px 11px 14px;}
.company_menu .company_submenu li a { padding:8px 40px 5px 25px; background:url(../images/white60.png) repeat 0 0; color:#666;}
.company_menu .company_submenu li a.active { background:url(../images/white80.png) repeat 0 0;}
.company_menu .company_submenu li a .menu_arrow { right:9px;}
.company_menu li.active>a, .company_menu .company_submenu li.active>a { color:#fff; background:url(../images/white20.png) repeat 0 0;}
.company_menu li a:hover, .company_menu .company_submenu li a:hover { color:#fff; background:url(../images/orange30.png) repeat 0 0;}
.company_menu li a:hover .company_name, .company_menu li.active>a .company_name { color:#fff;}

/* column center */
.column_center { float:left; width:375px; margin-left:30px;}
.dishes_head { padding-bottom:9px;}
.dish_box { padding-left:18px; color:#fff; text-decoration:none; padding-right:90px; position:relative; min-height:80px; display:block; text-decoration:none;}
.dish_box .dish_entry { height:80px; vertical-align:middle; display:table-cell; width:265px; text-decoration: none;}
.dish_box .dish_title { display:block; font-size:24px; line-height:28px;}
.dish_box .dish_desc { font-size:14px; display:block; line-height:15px;}
.dish_box .dish_icon { position:absolute; display:block; right:0; top:50%; margin-top:-40px; width:80px; height:80px; border-radius:50%;}
.dish_box .dish_icon img { border-radius:50%;}
.dishes_list { border-top:1px solid #fff; padding-top:5px; margin-bottom:15px;}
.dishes_list li { padding:10px 0;}
.dishes_list li .dish_box:hover, .dishes_list li .dish_box.active { background:url(../images/dishes_hover.png) repeat-y right 0; text-decoration:none;}

.dishes_section { border:1px solid #fff; padding:9px; max-height:560px; outline:none;}
.dishes_list2 { padding-right:15px; padding-top:5px;}
.dishes_list2 li { min-height:1px; overflow:hidden;}
.dishes_list2 li .dish_box:hover, .dishes_list2 li .dish_box.active { text-decoration:none;}
.dishes_list2 input[type="checkbox"]+label { cursor: pointer; position:relative; display:block; padding-left:25px;}
.dishes_list2 input[type="checkbox"]+label:before { content: ""; display:block; position:absolute; top:13px; left:0; height:20px; width:20px; background:url(../images/bullit.png) no-repeat 0 0;}
.dishes_list2 input[type="checkbox"].checked + label:before { background-position:0 -21px;}
.dishes_list2 .dish_box { padding:0 55px 0 12px; min-height:60px;}
.dishes_list2 input[type="checkbox"].checked + label .dish_box { background:url(../images/dishes_hover.png) repeat-y 0 0;}
.dishes_list2 .dish_box .dish_entry { width:230px; height:60px;}
.dishes_list2 .dish_box .dish_title { font-size:20px; line-height:26px;}
.dishes_list2 .dish_box .dish_desc { font-size:12px;}
.dishes_list2 .dish_box .dish_icon { right:5px; margin-top:-25px; width:50px; height:50px;}

.scroll-pane { /*overflow:auto;*/ outline:none;}
.dishes_section .scroll-pane { width:100%; max-height:560px;}
.jspContainer { overflow:hidden; position:relative;}
.jspPane { position: absolute;}
.jspVerticalBar { position: absolute; top: 0; right: 0; width:10px; height: 100%; background:none;}
.jspCap { display: none;}
.jspTrack { background:url(../images/black10.png) repeat 0 0; position: relative;}
.jspDrag { background:#fff; position: relative; top: 0; left: 0; cursor: pointer;}

/* column center 2 */
.column_center2 { width:340px; float:left; margin-left:50px;}
.rest_search { border-bottom:1px solid #fff; padding:16px 16px 16px 20px; min-height:30px; margin-bottom:15px;}
.rest_search input.inp_rest_srh { width:245px;}
.rests_menu { margin-bottom:10px;}
.rests_menu li { margin-bottom:1px;}
.rests_menu li a { display:block; text-decoration:none; color:#fff; background:url(../images/black10.png) repeat 0 0; font-size:12px; line-height:18px; padding:11px 22px 15px; min-height:44px;}
.rests_menu li a span { display:block;}
.rests_menu li a .rest_title { font-size:22px; line-height:24px;}
.rests_menu li a:hover, .rests_menu li.active a { background:url(../images/black20.png) repeat 0 0;}

.rest_search .lc_filter{
    clear: both;
    padding-top: 10px;
}

.rest_search .lc_filter_popup p{
    padding: 5px 0px;
}

/* column right */
.column_right { float:right; width:455px;}
.product_section { background:url(../images/product_bg.png) repeat-y 0 0; padding:34px 30px 39px 35px; margin-bottom:15px;}
.product_section h1 { font-size:24px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#222; line-height:26px; margin-bottom:12px;}
.edit-link { display:block; width:30px; height:30px; background:url(../images/edit_ico.png) no-repeat 0 0; position:absolute; bottom:5px; right:5px;}
.refresh { display:block; width:30px; height:30px; background:url(../images/refresh2.png) no-repeat 0 0; position:absolute; bottom:5px; right:5px;}
.product_row { padding-bottom:20px; min-height:1px;}
.product_row:after { display:table; clear:both; content:' ';}
.product_label { font-size:14px; line-height:15px; margin-bottom:5px; display:block; padding:0 12px;}
.product_title { position:relative; height:36px;}
.product_title input { background:#fff; padding:4px 39px 4px 11px; font-size:20px; color:#222; line-height:26px; border:1px solid #fff; outline:none; width:338px;}
.product_title .edit-link { bottom:50%; margin-bottom:-15px;}
.product_desc { position:relative; width:250px; float:left;}
.product_desc textarea { background:#fff; position:relative; font-size:16px; color:#222; padding:16px 39px 16px 11px; width:198px; float:left; height:96px; border:none; outline:none; resize:vertical; overflow:auto; display:block; border:1px solid #fff;}
.product_thumb { float:right; width:130px; position:relative;}
.product_thumb img { display:block;}
.product_left { float:left; width:250px; position:relative;}
.product_serving { padding:6px 12px; font-size:16px; color:#222; background:#fff; height:46px; width:226px; border:1px solid #fff; outline:none; overflow:auto; resize:vertical; display:block;}
.serving_del { display:block; width:24px; height:24px; position:absolute; background:url(../images/plus-minus.png) no-repeat 0 0; left:50%; margin-left:-12px; bottom:-12px;}
.product_right { float:right; width:130px;}
.prices_list li { height:26px;}
.prices_list li+li { margin-top:6px;}
.prices_list li .prices_left { float:left; width:38px;}
.prices_list li .prices_cell { display:table-cell; height:26px; line-height:13px; width:38px; vertical-align:middle; font-size:12px; color:#666;}
.prices_list li .prices_cell .action { color:#ff8200;}
.prices_list li .check_item { height:26px; background:#fff; float:right; width:90px; position:relative;}
.prices_list li .check_item input.inp_price { padding:2px 25px 2px 11px; display:block; line-height:20px; height:20px; width:52px; background:#fff; color:#333; font-size:16px; border:1px solid #fff; outline:none;}
.prices_list input[type="radio"]+label { cursor: pointer; position:absolute; top:3px; right:5px; height:20px; width:20px; display:block;}
.prices_list input[type="radio"]+label:before { content: ""; display:block; position:absolute; top:0; right:0; height:20px; width:20px; background:url(../images/radio_prices.png) no-repeat 0 0;}
.prices_list input[type="radio"].checked + label:before { background-position:0 -21px;}
.new_serving { background:#fff; position:relative; padding:3px 12px; height:24px; line-height:24px; font-size:16px;}
.new_serving .serving_add { display:block; position:absolute; width:24px; height:24px; left:50%; margin-left:-12px; bottom:-12px; background:url(../images/plus-minus.png) no-repeat 0 -25px;}
.hit_box { background:#fff; padding:0 12px; line-height:30px; height:30px; position:relative; font-size:20px; color:#ff8200;}
.hit_box .hit-btn { display:block; position:absolute; width:24px; height:24px; left:50%; margin-left:-12px; bottom:-12px; background:url(../images/plus-minus.png) no-repeat 0 -50px;}
.hit_box.opened .hit-btn { background-position:0 -75px;}
.add_hit { padding-top:15px; display:none;}
.add_hit .product_serving { width:366px;}

.spec_checkbox, .rightbox_checkbox { margin-bottom:10px; position:relative;}
.spec_checkbox input[type="checkbox"]+label, .rightbox_checkbox input[type="checkbox"]+label { cursor: pointer; position:relative; padding-left:70px; line-height:30px; display:inline-block; z-index:2; font-size:16px; color:#ff8200;}
.rightbox_checkbox input[type="checkbox"]+label { color:#333;}
.spec_checkbox input[type="checkbox"]+label:before, .rightbox_checkbox input[type="checkbox"]+label:before { content: ""; display:block; position:absolute; top:0; left:0; height:30px; width:30px; background:url(../images/checkbox_handle.png) no-repeat 0 0; transition: all .2s; -moz-transition: all .2s; -webkit-transition: all .2s; -o-transition: all .2s; -ms-transition: all .2s;}
.spec_checkbox input[type="checkbox"].checked+label:before, .rightbox_checkbox input[type="checkbox"].checked+label:before { margin-left:30px;}
.spec_checkbox .checkbox_bg, .rightbox_checkbox .checkbox_bg { position:absolute; top:0; left:0; height:30px; width:60px; background:url(../images/spec_checkbox.png) no-repeat 0 0; z-index:1;}
.spec_checkbox input[type="checkbox"].checked ~ label ~ .checkbox_bg, .rightbox_checkbox input[type="checkbox"].checked ~ label ~ .checkbox_bg { background-position:0 -31px;}

.product_submit_wrap { padding-top:20px;}
.product_submit { display:block; width:80px; height:80px; background:url(../images/product_submit.png) no-repeat 0 0; border:none; cursor:pointer; outline:none; margin:0 auto;}

/* company section */
.company_section { padding-top:13px;}
.company_section .product_label { color:#666; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; padding:0;}
.company_section .product_title input { font-size:16px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.company_section .product_desc textarea { font-size:12px; line-height:14px; padding:9px 39px 9px 13px; color:#666; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; width:196px; height:110px; border:1px solid #fff;}
.product_row.input_row { padding-bottom:0;}
.input_row .inp_wrap, .add_phone .inp_wrap { margin-bottom:10px;}
.input_row input[type=text], .input_row input[type=email], .input_row input[type=password], .add_phone input[type=text], .add_phone input[type=email], .add_phone input[type=password] { background:#fff; border:none; padding:4px 11px; height:30px; width:100%; line-height:20px; border:1px solid #fff; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing:border-box; outline:none; font-size:16px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#666; margin-bottom:10px;}
.input_row .inp_wrap input[type=text], .input_row .inp_wrap input[type=email], .input_row .inp_wrap input[type=password], .add_phone .inp_wrap input[type=text], .add_phone .inp_wrap input[type=email], .add_phone .inp_wrap input[type=password] { margin-bottom:0;}
.inp_wrap { position:relative;}
input[type=text].error, input[type=email].error, input[type=password].error, textarea.error, select.error { border-color:#ff8200 !important;}
.inp_wrap .error_message { display:none; position:absolute; right:100%; margin-right:16px; width:200px; top:50%; color:#fff; line-height:22px; font-size:16px; height:140px; margin-top:-70px;}
.inp_wrap .error_message .message_cell { display:table-cell; height:140px; width:200px; vertical-align:middle;}
.inp_wrap .error_message .message_center { display:inline-block; padding:15px 20px; width:160px; background:#ff8200;}
.inp_wrap .error_message .corner { position:absolute; display:block; width:12px; height:22px; background:url(../images/error_corner.png) no-repeat 0 0; top:50%; right:-11px; margin-top:-11px;}
.product_row.add_phone .hit_box { font-size:16px; color:#999999; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.column_right .leftmenu_buttons { padding-top:16px;}
.right_box { border-bottom:1px solid #fff; margin-bottom:20px;}
.right_box .rightbox_title { position:relative; margin-bottom:11px;}
.right_box .rightbox_text { border-bottom:1px solid #fff; font-size:16px; color:#222; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; line-height:20px; padding:5px 0 5px; font-weight:bold;}
.right_box .rightbox_text span { color:#666;}
.right_box.adress_box { margin-bottom:14px;}
.adress_box .rightbox_title { padding-right:40px;}
.adress_box .adress_arrow { display:block; position:absolute; right:0; top:50%; margin-top:-16px; height:31px; width:31px; background:url(../images/address_arrow.png) no-repeat 0 0; cursor:pointer;}
.right_box .box_addit { display:none;}
.adress_box .adress_arrow.opened { background-position:0 -32px;}
.adress_box .input_row input { font-weight:bold;}
.adress_box .adress_map { margin-bottom:15px;}
.photo_list { min-height:1px; overflow:hidden; margin:0 -6px 0 -5px;}
.photo_list li { float:left; margin:0 5px 10px;}
.photo_list li a { display:block; width:88px; height:88px; border:1px solid #fff;}
.photo_list li.selected a, .photo_list li a:hover { border-color:#ff8200;}
.photo_buttons { font-size:0; line-height:0; text-align:center; margin-bottom:10px;}
.photo_buttons a { display:inline-block; height:31px; width:31px; vertical-align:top; zoom:1; background:url(../images/photo_icons.png) no-repeat; margin:0 5px;}
.photo_buttons a.ph_refresh { background-position:0 0;}
.photo_buttons a.ph_del { background-position:0 -32px;}
.photo_buttons a.ph_add { background-position:0 -64px;}
.company_subtitle { font-size:18px; color:#666; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; line-height:18px; margin-top:-6px; margin-bottom:20px;}
.right_box.password_box { margin-bottom:36px;}
.right_box.password_box .rightbox_title { padding-right:40px;}
.password_box .pass_icon { display:block; position:absolute; right:0; top:50%; margin-top:-16px; height:31px; width:31px; background:url(../images/edit_ico2.png) no-repeat 0 0; cursor:pointer;}
.product_submit2 { display:block; width:50px; height:50px; background:url(../images/leftmenu-4.png) no-repeat 0 0; border:none; cursor:pointer; outline:none; margin:0 auto 10px;}
.rightbox_checks { padding:10px 0 8px;}

/* order table */
.order_table { border:1px solid #fff; border-collapse:separate; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; width: auto;}
.order_table tbody tr { cursor:pointer;}
.order_table th { background:#fff; font-weight:normal; font-size:16px; color:#3d3a3e; line-height:20px; padding:9px 10px;}
.order_table td { height: 34px; background:url(../images/black20.png) repeat 0 0; font-size:16px; color:#fff; line-height:16px; padding:9px 10px; text-align:center; border-top:2px solid #90816d; border-top:2px solid rgba(255, 255, 255, 0.2);}
.order_table td .big { font-size:20px;}
.order_table td .small { font-size:11px; line-height: 11px;}
.order_table tr.current td { background:#ff8200;}
.order_table tr td.new { background:#ff6432;}
.order_table th.lefttext, .order_table td.lefttext { text-align:left;}
.order_table th.righttext, .order_table td.righttext { text-align:right;}
.order_table input[type="checkbox"]+label { cursor: pointer; position:relative; display:block; padding-left:20px; height:20px;}
.order_table input[type="checkbox"]+label:before { content: ""; display:block; position:absolute; left:0; top:0; height:20px; width:20px; background:url(../images/bullit.png) no-repeat 0 0;}
.order_table input[type="checkbox"].checked + label:before { background-position:0 -21px;}
.order_table tr.manage_row td { background:url(../images/manage_row_bg.png) repeat 0 0; padding:5px 7px;}
.position_box { width:136px; margin:0 auto;}
.position_count { float:left; line-height:24px; width:26px; text-align:center;}
.position_change { float:left; width:110px; position:relative; height:24px;}
.position_change .position_text { border:1px solid #fff; border:1px solid rgba(255, 255, 255, 0.65); height:22px; line-height:22px; font-size:14px; color:#fff; text-decoration:none; display:block; padding:0 6px 0 16px; text-align:left;}
.position_change .position_text span { display:block; height:22px; padding-right:20px; background:url(../images/position_arrow.png) no-repeat right center;}
.position_change .position_list { display:none; position:absolute; top:24px; left:0; background:#333; min-width:100%; text-align:left; z-index:10;}
.position_change .position_list li { border:1px solid #fff; border:1px solid rgba(255, 255, 255, 0.65);}
.position_change .position_list li+li { border-top:none;}
.position_change .position_list li a { display:block; line-height:18px; font-size:14px; color:#fff; text-decoration:none; padding:2px 12px;}
.position_change .position_list li:hover a { background:url(../images/white30.png) repeat 0 0;}
.position_change .position_list li.selected a { background:#ff8200;} 
.order_meta { min-height:1px; overflow:hidden; margin-bottom:18px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff; line-height:20px;}
.pages_filter { float:left;}
.pages_filter .pf_text { float:left; margin-right:9px; font-weight:bold;}
.pages_filter .pf_input { float:left; background:none; border:1px solid #fff; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing:border-box; padding:1px 8px; height:20px; line-height:16px; font-size:14px; color:#fff; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; outline:none; width:80px; margin-right:9px;}
.pages_filter ul a{ float:left; margin-right:5px; width:20px; height:20px; background:url(../images/pf_number.png) no-repeat 0 0; font-size:14px; color:#3d3a3e; font-weight:bold; text-decoration:none; text-align:center;}
.pages_filter .previous a { background-position:-21px 0;}
.pages_filter .next a { background-position:-42px 0;}
.pages_filter .selected a, .pages_filter ul a:hover { background-position:0 -21px; color:#fff;}
.pages_filter .previous a:hover { background-position:-21px -21px;}
.pages_filter .next a:hover { background-position:-42px -21px;}
.pages_list .first, .pages_list .last{display: none;}
.pages_list .hidden{display: none;}
.pages_list, .pages_list li {display: inline-block;}
.order_meta .pages_visible { float:right;}
.ord_search { width:80px; height:16px; margin:0 auto;}
.ord_search .inp_ord-srh { width:60px; height:16px; padding:0 6px; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing:border-box; border:none; background:#fff; color: #3d3a3e; font-size:11px; outline:none; float:left;}
.ord_search .submit_ord-srh { float:right; width:17px; height:16px; background:url(../images/submit_ord-srh.png) no-repeat 0 0; border:none; outline:none; cursor:pointer;}
.ord-table_btns { white-space:nowrap; font-size:0; line-height:0; vertical-align:top;}
.ord-btn { display:inline-block; position:relative; margin:0 1px; vertical-align:top; zoom:1; font-size:10px; line-height:16px;}
.ord-btn .sort_down { display:block; width:21px; height:20px; background:url(../images/ord-table_btn.png) no-repeat -22px 0;}
.ord-btn .sort_down.active {background-position: -22px bottom;}
.ord-btn .sort_up { display:block; width:21px; height:20px; background:url(../images/ord-table_btn.png) no-repeat 0 0;}
.ord-btn .sort_up.active {background-position: 0px bottom;}
.ord-btn .sort_date { display:block; width:21px; height:20px; background:url(../images/ord-table_btn.png) no-repeat -44px 0;}
.ord-btn .sort_date.active {background-position: -44px bottom;}
.date_tooltip { display:none;z-index: 999; position:absolute; background:#fff; width:180px; left:50%; margin-left:-100px; top:32px; color:#3d3a3e; text-align:left; padding:8px 10px 4px;}
.date_tooltip .tooltip_corner { width:20px; height:11px; left:50%; top:-10px; margin-left:-10px; background:url(../images/date_corner.png) no-repeat 0 0; display:block; position:absolute;}
.date_tooltip h6 { font-size:10px; font-weight:normal; margin-bottom:2px;}
.date_tooltip_row { margin-bottom:7px; height:18px; line-height:18px;}
.date_tooltip_row .order_select { margin-left:2px;}
.order_table th.th_hidden { padding-top: 0; padding-bottom:0;}
.th_inner { text-align: center; display: block;}
.th_inner span { display: inline-block;}
.deploy_hidden { display:none; position:relative; background:#f5f4f5; border:1px solid #e3e2e3; border-width:0 1px; width:14px; height:100%; padding-top:1px; margin-top:-1px;}

.deploy_plus {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: url(../images/deploy_icons.png) no-repeat 0 0;
    cursor: pointer;
}

.deploy_minus {
    margin-left: 8px;
    width: 12px;
    height: 12px;
    position: relative;
    top: 2px;
    display: inline-block;
    background: url(../images/deploy_icons.png) no-repeat 0 -13px;
    cursor: pointer;
}

.deploy_minus.double{top: -8px;}
.deploy_minus.dimage{top: -3px;}

.deploy_tooltip { display:none; position:absolute; padding:7px 10px; min-width:60px; line-height:16px; background:url(../images/deploy_tooltip_bg.png) repeat 0 0; font-size:16px; color:#fff; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; text-align:center; bottom:50%; left:50%; margin:0 0 20px -40px;}
.deploy_tooltip .tooltip_corner { display:block; position:absolute; width:20px; height:10px; background:url(../images/deploy_tooltip_corner.png) no-repeat 0 0; top:100%; left:50%; margin-left:-10px;}
.order_table th.th_hidden .deploy_hidden { display:block;} /*.deploy_plus:hover+.deploy_tooltip, .order_table th.th_hidden .deploy_hidden { display:block;} */
.order_table th.th_hidden .th_inner { display:none;}
.order_table td.td_hidden .td_inner { display:none; padding-left:0; padding-right:0;}
.table-scroll.scroll-pane { width:100%;}
.table-scroll.scroll-pane tr.last td { padding-bottom:29px;}
.jspHorizontalBar { position: absolute; bottom:5px; left: 0; height:10px; width: 100%; background:none;}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { height:10px;}

/* select */
select.order_select { width:90px;}
.selectBox-dropdown.order_select { position: relative; border:1px solid #ccc; display:inline-block; text-decoration: none; text-align: left; color: #3d3a3e; outline: none; vertical-align: middle; background: #fff; cursor: default; line-height:16px; font-size:11px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; height:16px;}
.selectBox-dropdown:hover { text-decoration:none;}
.order_select .selectBox-label { padding:0 6px; display: inline-block; white-space: nowrap; overflow: hidden; height:16px;}
.order_select .selectBox-arrow { position: absolute; top:2px; right:1px; width:13px; height:12px; background:url(../images/select_arrow.png) no-repeat 0 0;}
.selectBox-dropdown-menu { position: absolute; z-index: 99999; max-height:160px; min-height: 1em; border:1px solid #ccc; background: #fff; overflow: auto; padding:0; font-size:11px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.selectBox-options li a { display:block; line-height:16px; padding:0 6px; white-space: nowrap; overflow: hidden; color:#3d3a3e; text-decoration:none;}
.selectBox-options li+li { border-top:1px solid #ccc;}
.selectBox-options li.selectBox-hover a { background:#ccc; color:#fff;}
.selectBox-options li.selectBox-selected a { background:#ff8200; color:#fff;}
.selectBox-options li.selectBox-disabled a { color: #888; background-color: transparent;}
.selectBox.selectBox-disabled {	color: #888 !important;}
.selectBox-dropdown.selectBox-disabled .selectBox-arrow { opacity: .5; filter: alpha(opacity=50);}

/* food detail */
.orders_content { margin-bottom:30px;}
.food_detail .detail_meta { min-height:1px; overflow:hidden; padding:10px 32px 10px 18px; background:#fff; margin-bottom:1px;}
.food_detail .detail_meta_link { min-height:1px; overflow:hidden; padding:10px 32px 10px 18px; background:#fff; margin-bottom:1px;}
.food_detail .detail_meta_link a {font-size: 14px; float: right; text-decoration: underline;}
.food_buttons_left { float:left;}
.food_buttons_left a { float:left; width:30px; height:30px; background:url(../images/food-meta_btns.png) no-repeat; margin-right:10px;}
.food_buttons_left a.food_plus { background-position:0 0;}
.food_buttons_left a.food_minus { background-position:-31px 0;}
.food_buttons_left a.food_del { background-position:-62px 0;}
.food_detail .detail_arrow { float:right; padding-right:40px; line-height:30px; font-size:18px; color:#3d3a3e; text-decoration:none; background:url(../images/detail_arrow.png) no-repeat right -31px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.food_detail.opened .detail_arrow { background-position:right 0;}
.food_table td { border-bottom:1px solid #c2bfb8; background:url(../images/white80.png) repeat 0 0; padding:10px 15px; line-height:20px; font-size:18px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; text-align:center;}
.food_table td.lefttext { text-align:left;}
.food_thumb img { display:block; border-radius:50%;}
.food_table td h4 { font-weight:normal;}
.food_table td .small { font-size:14px;}
.nowrap { white-space:nowrap;}
.food_buttons { text-align:center; font-size:0; line-height:0;}
.food_buttons a { display:inline-block; width:60px; margin:0 5px; font-size:10px; color:#3d3a3e; line-height:14px; text-align:center; text-decoration:none;}
.food_buttons a .icon { display:block; width:50px; height:50px; margin:0 auto 2px; background:url(../images/food_icons.png) no-repeat;}
.food_buttons a.food_finish .icon { background-position:0 0;}
.food_buttons a.food_prepare .icon { background-position:-51px 0;}
.food_buttons a.food_delivery .icon { background-position:-102px 0 0;}
.food_buttons a.food_cancel .icon { background-position:-153px 0;}
.food_buttons a.food_receive .icon { background-position:-204px 0;}
.food_buttons a.food_close .icon { background-position:-255px 0;}
.food_buttons a.food_delete .icon { background-position:-306px 0;}

.food_buttons a.status_9 .icon { background-position:0 0;}
.food_buttons a.status_12 .icon { background-position:0 0;}
.food_buttons a.status_10 .icon { background-position:-51px 0;}
.food_buttons a.status_11 .icon { background-position:-102px 0;}

/* order single */
.order_single_table { border:1px solid #fff; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.order_single_table th { background:#fff; border:1px solid #fff; font-size:24px; color:#3d3a3e; text-align:left; padding:10px 20px; line-height:40px;}
.order_single_table td { background:url(../images/order_single_bg.png) repeat 0 0; border:1px solid #fff;}
.order_single_table .ord-single_close, .order_single_table .ord-single_del, .order_single_table .ord-single_print { float:left; width:40px; height:40px; background:url(../images/ord-single_gray-btns.png) no-repeat; margin-left:20px;}
.order_single_table .ord-single_close { background-position:0 0;}
.order_single_table .ord-single_del { background-position:-41px 0;}
.order_single_table .ord-single_print { background-position:-82px 0;}
.order_def { min-height:1px; overflow:hidden; position:relative; font-size:14px; line-height:14px; height:37px;}
.order_def .cell { display:table-cell; height:29px; vertical-align:middle;}
.order_def+.order_def { background:url(../images/order_data_line.png) repeat-x 0 0; background-size:100% 3px; height:40px;}
.order_def .dt { float:left; width:42%; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing:border-box; padding:4px 16px;  position:relative; z-index:2;}
.order_def .dd { float:left; width:58%; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing:border-box; padding:4px 16px; font-size:18px; color:#fff; position:relative; z-index:2;}
.order_def .dd .small { font-size:12px; line-height:16px;}
.order_def .def_bg { position:absolute; width:42%; height:100%; left:0; top:0; background:url(../images/white60.png) repeat 0 0; z-index:1;}
.order_def+.order_def .dt, .order_def+.order_def .dd { padding-top:7px;}
.total_row .order_def .cell { height:50px;}
.total_row .order_def { height:auto;}
.total_row .order_def .dd, .total_row .order_def .dt { height:58px; font-size:14px;}
.food_item { min-height:1px; overflow:hidden; }
.food_item li { float:left; font-size:18px; color:#fff; position:relative;}
.food_item li .pad { padding:8px 12px;}
.food_item li+li:before { content:' '; display:block; position:absolute; width:2px; height:500%; left:0; top:0; background:url(../images/food_item_border.png) repeat-y 0 0;}
.food_item li.food_name { min-height:1px; overflow:hidden; width:42%;}
.food_item li.food_name .pad { padding:8px 24px;}
.food_item li.food_name .food_thumb { float:left;}
.food_item li.food_name .food_thumb img { display:block; border-radius:50%;}
.food_item li.food_name .food_entry { margin-left:60px; line-height:19px; padding:6px 0;}
.food_item li.food_price { white-space:nowrap; line-height:50px; width:15%;}
.food_item li.food_count { white-space:nowrap; line-height:50px; width:8%; text-align:center;}
.food_item li.food_action { width:35%; text-align:right;}
.food_item li.food_action .pad { padding:8px 6px 5px;}
.food_action a { display:inline-block; width:58px; margin:0; font-size:10px; color:#fff; line-height:10px; text-align:center; text-decoration:none;}
.food_action a .icon { display:block; width:40px; height:40px; margin:0 auto 2px; background:url(../images/ord-single_white-btns.png) no-repeat;}
.food_action a.food_finish-white .icon { background-position:0 -82px;}
.food_action a.food_prepare-white .icon { background-position:0 -41px;}
.food_action a.food_delivery-white .icon { background-position:-41px -41px;}
.food_action a.food_cancel-white .icon { background-position:-82px -41px;}
.food_action a.food_receive-white .icon { background-position: 0;}
.food_action a.food_close-white .icon { background-position:-41px 0;}
.food_action a.food_delete-white .icon { background-position:-82px 0;}

.food_action a.status_9 .icon { background-position:0 -82px;}
.food_action a.status_12 .icon { background-position:0 -82px;}
.food_action a.status_10 .icon { background-position:0 -41px;}
.food_action a.status_11 .icon { background-position:-41px -41px;}

.food_total { min-height:1px; overflow:hidden;}
.food_total li { float:left; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing:border-box; padding:8px 20px; line-height:42px; height:58px;}
.food_total li.total_text { width:42%; float:left; background:#fff; font-size:28px; color:#3d3a3e;}
.food_total li.total_price { width:58%; float:left; font-size:28px; color:#fff;}
.food_total li.total_price .small { font-size:20px;}
.food_scroll { height:397px;}
.food_scroll .scroll-pane { max-height:397px; width:100%;}
.food_scroll .jspVerticalBar { right:5px;}
.food_scroll .jspPane { width:100% !important;}
.scroll-pane.jspScrollable .food_item { margin-right:18px;}

/* login form */
.login_form { padding:67px 0 94px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.login_form h2 { font-size:32px; line-height:32px; color:#fff; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; text-transform:uppercase; text-align:center; margin-bottom:42px;}
.login_form .login_entry { width:410px; margin:0 auto; position:relative;}
.login_form .login_row { min-height:1px; overflow:hidden; line-height:30px; margin-right:80px; font-size:18px; color:#fff; text-transform:uppercase; margin-bottom:10px;}
.login_form .login_row label { float:left; width:90px;}
.login_form .login_row .required { color:#ff8200;}
.login_form .login_row input { float:left; background:#fff; width:238px; height:30px; border:1px solid #fff; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing:border-box; padding:2px 9px; line-height:24px; outline:none;}
.login_form .login_entry .login_submit { display:block; position:absolute; width:66px; height:66px; border:none; cursor:pointer; background:url(../images/submit_login.png) no-repeat 0 0; right:0; top:2px;}
.login_form .login_check { padding-left:90px; line-height:20px;}
.login_form input[type="checkbox"]+label { cursor: pointer; height:20px; position:relative; padding-left:25px; display:block; font-size:14px; color:#fff; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.login_form input[type="checkbox"]+label:before { content: ""; display:block; position:absolute; top:2px; left:0; height:14px; width:14px; background:url(../images/checkbox_white.png) no-repeat 0 -20px; border:1px solid #fff;}
.login_form input[type="checkbox"].checked + label:before { background-position:0 0;}

/* panel */
.panel_section { padding:54px 0 110px;}
.panel_section .center { width:1002px; margin:0 auto;}
.panel_section h1 { text-align:center; font-size:36px; color:#fff; font-weight:normal; line-height:36px; margin-bottom:43px;}
.panel_list { text-align: center; vertical-align: top; font-size: 0; line-height: 0;}
.panel_list li { display: inline-block; vertical-align: top; zoom: 1; width: 157px; margin: 0 10px; font-size:16px; line-height: 20px; text-align:center;}
.panel_list li .thumb { margin-bottom: 12px; display:block;}
.panel_list li a { text-shadow: 0px 0px 4px #555; color:#fff; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; font-weight:bold; text-decoration:none;}
.panel_list.panel_list_big li { width:180px; margin:0 30px; font-size:24px; line-height:28px;}
.panel_list.panel_list_big li .thumb { margin-bottom:18px;}
.faq_section { background:url(../images/faq_bg.png) repeat 0 0; padding:33px 0 44px;}
.faq_section .center { width:640px; margin:0 auto;}
.faq_block { background:url(../images/faq_ico.png) no-repeat 0 center; min-height:46px; font-family:Arial, Helvetica, sans-serif; color:#fff; font-size:16px; line-height:20px; padding:9px 0 6px 80px;}
.faq_block h2 { font-size:24px; line-height:26px; margin-bottom:0; font-weight:normal;}
.faq_block .faq_download { color:#fff; font-weight:bold;}

/* MODAL */
.modal { position:fixed; top: 10%; left: 50%; z-index: 1050; background:url(../images/modal_bg.png) repeat 0 0; width:600px; margin-left:-300px; -webkit-background-clip: padding-box; -moz-background-clip: padding-box; background-clip: padding-box; -webkit-background-clip: padding-box; -moz-background-clip: padding-box; background-clip: padding-box;}
.modal-backdrop { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1040; background-color: #000; background:none;}
.hide { display:none;}
.fade { opacity: 0; -webkit-transition: opacity .15s linear; -moz-transition: opacity .15s linear; -o-transition: opacity .15s linear; transition: opacity .15s linear;} 
.modal.fade { -webkit-transition: opacity .3s linear, top .3s ease-out; -moz-transition: opacity .3s linear, top .3s ease-out; -o-transition: opacity .3s linear, top .3s ease-out; transition: opacity .3s linear, top .3s ease-out;}
.fade.in { opacity: 1;}
.modal.fade.in { top: 10%;}
.modal-backdrop.fade.in { opacity: 0.8; filter: alpha(opacity=80);}
.modal .modal_inner { padding:30px 40px 40px; font-size:18px; line-height:24px; color:#fff; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.modal .modal_inner a { color:#fff;}
.modal .modal_title { line-height:60px; padding-bottom:16px; color:#fff; text-transform:uppercase; border-bottom:1px solid #fff; font-size:24px;}
.modal .modal_title .title_icon { float:left; margin-right:14px; height:60px;}
.modal .modal_text { padding:24px 0;}
.modal .modal_inner p { margin-bottom:24px;}
.modal_shower { font-size:15px; padding-top:25px;}
.modal_shower .mls { margin:0 0 11px; position:relative; height:1px; background:#fff;}
.modal_shower .mls .show_arrow { display:block; position:absolute; width:24px; height:24px; background:url(../images/popup_arrows.png) no-repeat 0 -25px; left:50%; margin-left:-12px; top:-12px; cursor:pointer;}
.modal_shower .mls .show_arrow.m-up { background-position:0 0;}
.modal_shower .mls .show_arrow.m-down { background-position:0 -25px;}
.go-next { display:inline-block; line-height:24px; padding-right:36px; background:url(../images/go-next.png) no-repeat right center; font-size:14px;}
.modal_buttons { text-align:center; vertical-align:top;}
.modal_buttons a { vertical-align:top; display:inline-block; width:30px; height:30px; background:url(../images/modal_buttons.png) no-repeat; margin:0 7px;}
.modal_buttons a.md_ok { background-position:0 -62px;}
.modal_buttons a.md_minus { background-position:0 -31px;}
.modal_buttons a.md_del { background-position:0 -93px;}
.modal_buttons a.md_close { background-position:0 0;}
.modal_buttons a.md_ok:hover { background-position:-31px -62px;}
.modal_buttons a.md_minus:hover { background-position:-31px -31px;}
.modal_buttons a.md_del:hover { background-position:-31px -93px;}
.modal_buttons a.md_close:hover { background-position:-31px 0;}
.modal_buttons input[type=button] { vertical-align:top; display:inline-block; width:30px; height:30px; background:url(../images/modal_buttons.png) no-repeat; margin:0 7px;border: none;}
.modal_buttons input.md_ok { background-position:0 -62px;}
.modal_buttons input.md_ok:hover { background-position:-31px -62px;}

.modal_buttons input.md_minus { background-position:0 -31px;}
.modal_buttons input.md_minus:hover { background-position:-31px -31px;}


/* Custom Mobile size */
@media screen and (max-width: 1170px) {
	.orders_page #wrapper { min-width:750px;}
	.orders_page #root { width:100%;}
	#page_template header { height:auto;}
	#page_template .table_menu { clear:both; float:none; width:370px; margin:0 auto; padding:20px 0 0;}
	.order_table th, .order_table td { padding-left:8px; padding-right:8px;}
	.order_table tr.manage_row td { padding-left:5px; padding-right:5px;}
    .order_table_scroll th, .order_table_scroll td { padding-left:8px; padding-right:8px;}
    .order_table_scroll tr.manage_row td { padding-left:5px; padding-right:5px;}
	select.order_select { width:76px;}
	.order_table th.righttext, .order_table td.righttext { text-align:center;}
    .order_table_scroll th.righttext, .order_table_scroll td.righttext { text-align:center;}
}

@media screen and (max-width: 980px) {
	.order_single_table th { font-size:16px;}
	.order_def .dd { font-size:14px;}
	.food_item li { font-size: 14px;}
	.food_total li.total_text { font-size:20px;}
	.food_total li.total_price .small { font-size:16px;}
	.food_item li.food_name { width:32%;}
	.food_item li.food_name .pad { padding:13px 10px;}
	.food_item li.food_action { width:45%;}
	.food_total li.total_text { width:32%;}
	.food_total li.total_price { width:68%;}
	.food_item li.food_name .food_thumb img { width:40px; height:40px;}
	.food_item li.food_name .food_entry { margin-left:50px; padding:1px 0;}
}

@media screen and (max-width: 760px) {
	#page_template header .column_left,	#page_template header .header_right { float:none; margin:0 auto; width:420px;}
	.header_right .header_bullets { float:left; margin-right:0;}
	#page_template header .header_right { padding-top:36px;}
}

.msg-success{
    padding: 5px;
    border: 1px solid #006600;
}

.msg-error, .errorSummary{
    padding: 5px;
    border: 1px solid #ff0000;
}

.sort_date_input {
    padding-left: 7px;
    margin-left:7px;
    width:150px;
}

.filters_buttons_wrap {
    padding-left: 22px;
}

.filters_buttons_wrap a {
    color:#ff8200;
    font-size: 14px;
}

.apply_sort_link {
    float: left;
    display: block;
    margin-bottom: 2px;
}

.cancel_sort_link {
    float: right;
    display: block;
    margin-bottom: 2px;
}

.alert_warning {
    background: url('../images/pp-ico_warning.png') no-repeat scroll transparent;
    width: 60px;
    height: 60px;
}

.alert_setting {
    background: url('../images/pp-ico_setting.png') no-repeat scroll transparent;
    width: 60px;
    height: 60px;
}

.alert_mail {
    background: url('../images/pp-ico_mail.png') no-repeat scroll transparent;
    width: 60px;
    height: 60px;
}

.alert_minus {
    background: url('../images/pp-ico_minus.png') no-repeat scroll transparent;
    width: 60px;
    height: 60px;
}

.alert_close {
    background: url('../images/pp-ico_close.png') no-repeat scroll transparent;
    width: 60px;
    height: 60px;
}

.alert_question {
    background: url('../images/pp-ico_question.png') no-repeat scroll transparent;
    width: 60px;
    height: 60px;
}

.form_user_pref {
    display: block;
    float: left;
    color: #666;
    font-size: 16px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    margin-top: 6px;
}

.small_inp {
    float: right;
    width: 86%;
}

.ui-tooltip {
    padding: 7px 10px !important;
    min-width: 60px !important;
    line-height: 16px !important;
    background: url(../images/deploy_tooltip_bg.png) repeat 0 0 !important;
    font-size: 16px !important;
    color: #fff !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
    text-align: center !important;
    border:none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.ui-tooltip:after {
    background: url("../images/deploy_tooltip_corner.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 10px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    content: " ";
    width: 20px;
    bottom:-10px;
}

.resizable_block {
    overflow: hidden;
    max-height: 540px;
    padding-bottom: 4px;
}

.resizable_inner{
    height: 100%;
    overflow: auto;
}

.ui-resizable-s {
    height: 4px;
    bottom: 0px !important;
    background: #ddd;
}

.ui-resizable-resizing .ui-resizable-s{
    background: #ff8200;
}

.resizable_block_detail{
    overflow: hidden;
    padding-bottom: 4px;
}

.resizable_inner_detail{
    height: 100%;
    overflow: auto;
}

/** стили шапки таблицы заказов при скроле***/
.order_table_scroll { border:1px solid #fff; border-collapse:separate; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.order_table_scroll tbody tr { cursor:pointer;}
.order_table_scroll th { background:#fff; font-weight:normal; font-size:20px; color:#3d3a3e; line-height:20px; padding:9px 10px;}
.order_table_scroll td { background:url(../images/black20.png) repeat 0 0; font-size:16px; color:#fff; line-height:16px; padding:9px 10px; text-align:center; border-top:2px solid #90816d; border-top:2px solid rgba(255, 255, 255, 0.2);}
.order_table_scroll th:first-child, .order_table_scroll td:first-child { padding-left:13px;}
.order_table_scroll th:last-child, .order_table_scroll td:last-child { padding-right:13px;}
.order_table_scroll td .big { font-size:20px;}
.order_table_scroll td .small { font-size:11px;}
.order_table_scroll tr.current td { background:#ff8200;}
.order_table_scroll th.lefttext, .order_table_scroll td.lefttext { text-align:left;}
.order_table_scroll th.righttext, .order_table_scroll td.righttext { text-align:right;}
.order_table_scroll input[type="checkbox"]+label { cursor: pointer; position:relative; display:block; padding-left:20px; height:20px;}
.order_table_scroll input[type="checkbox"]+label:before { content: ""; display:block; position:absolute; left:0; top:0; height:20px; width:20px; background:url(../images/bullit.png) no-repeat 0 0;}
.order_table_scroll input[type="checkbox"].checked + label:before { background-position:0 -21px;}
.order_table_scroll tr.manage_row td { background:url(../images/manage_row_bg.png) repeat 0 0; padding:5px 7px;}
.order_table_scroll th.th_hidden { padding-top:0; padding-bottom:0;}
.order_table_scroll th.th_hidden .deploy_hidden { display:block;} /*.deploy_plus:hover+.deploy_tooltip, .order_table th.th_hidden .deploy_hidden { display:block;} */
.order_table_scroll th.th_hidden .th_inner { display:none;}
.order_table_scroll td.td_hidden .td_inner { display:none; padding-left:0; padding-right:0;}
#table_orders_head {
    border-bottom: none;
}

#table_orders {
    border-top: none;
    border-bottom: none;
}

#table_orders.empty {
    border-bottom: 1px solid #fff;
    width: 100%
}

.td_inner {}

.td_hidden {
    width: 16px;
}

.td_hidden.small {
    width: 0px;
}

/*   SCROLLBAR   */
.orb_wrapper{
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 225px;
}

.orb_container{
    position: relative;
    overflow: hidden;
    height: 200px;
}

.orb_scroller {
    height: 100%;
    overflow-y: hidden;
    /*-webkit-overflow-scrolling: touch;*/
    /* uncomment to accelerate scrolling on iOs */
}

.orb_scroller::-webkit-scrollbar {
    width: 0;
}

.orb_wrapper .text {
    width: 1200px;
}

.orb_scroller__bar-wrapper {
    position: absolute;
    z-index: 3;
    bottom: 5px;
    left: 0px;
    right: 0px;
    height: 15px;
    border-radius: 2px;
    background: rgba(255, 255, 255, .2);
    pointer-events: none;
}

.orb_scroller__bar {
    position: absolute;
    z-index: 1;
    height: 15px;
    border-radius: 2px;
    background: #fff;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
    pointer-events: auto;
}

.orb_scroller__bar:hover {
    opacity: .8;
}

.orb_baron .orb_scroller__bar {
    opacity: .6;
}

/**/


.bol_wrapper {
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.bol_scroller {
    height: 100%;
    overflow-y: scroll;
    /*-webkit-overflow-scrolling: touch;*/
    /* uncomment to accelerate scrolling on iOs */
}
.bol_scroller::-webkit-scrollbar {
    width: 0;
}

.bol_scroller__bar-wrapper {
    position: absolute;
    z-index: 3;
    top: 8px;
    bottom: 15px;
    right: 5px;
    width: 15px;
    border-radius: 2px;
    background: rgba(255, 255, 255, .2);
    pointer-events: none;
}

.bol_scroller__bar {
    position: absolute;
    z-index: 1;
    width: 15px;
    border-radius: 2px;
    background: #fff;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
    pointer-events: auto;
}

.bol_scroller__bar:hover {
    opacity: .8;
}

.bol_baron .bol_scroller__bar {
    opacity: .6;
}

.table_list_action {
    margin-bottom: 10px;
}

.table_list_action label{
    font-weight: bold;
}

.table_list_action input[type=text]{
    padding: 4px;
    border: 1px solid #ddd;
}

.table_list_action span.add, .table_list_action span.save, .table_list_action span.cancel{
    font-size: 20px;
    cursor: pointer;
    position: relative;
    top: 4px;
}

.table_inline .del, .table_inline .edit{
    cursor: pointer;
}

.table_inline{display: inline-block;padding: 5px;background: #000;color: #fff;margin: 0px 5px 5px 0px;}
.table_inline i{color: #ccc;cursor: pointer;}
.table_inline .name{margin-right: 10px;}
.table_inline .recovery{cursor: pointer;display: none;}

#table_list .table_inline[data-action=new] .edit{display: none;}
#table_list .table_inline[data-action=edit] .name{color: #FF8200;}
#table_list .table_inline[data-action=edit] .del, .table_inline[data-action=edit] .edit{display: none;}
#table_list .table_inline[data-action=remove] .recovery{display: inline-block;}
#table_list .table_inline[data-action=remove] .del{display: none;}
#table_list .table_inline[data-action=remove] .name{color: #ff0000;text-decoration: line-through;}

#user_table_list .table_inline[data-active=yes] .add{display: none;}
#user_table_list .table_inline[data-active=yes] .del{display: inline-block;}
#user_table_list .table_inline[data-active=yes] .act{display: inline-block;}
#user_table_list .table_inline[data-active=no] .add{display: inline-block;}
#user_table_list .table_inline[data-active=no] .del{display: none;}
#user_table_list .table_inline[data-active=no] .act{display: none;}


.orig_text{
    padding: 2px;
    color: #808080;
}

#user_search_list li a {position: relative; padding-left: 62px;}
#user_search_list li a .user_ico { position:absolute; width:40px; height:41px; top:50%; margin-top:-21px; left:10px;}
#user_search_list li a .user_ico img { border-radius: 21px; border: 1px solid #ccc;}
