* { margin:0; padding:0}
a { text-decoration:none; outline:0; cursor:pointer; margin:0; padding:0; color:#333;}
a:hover { text-decoration:underline;}
img { border:0 none;}
ul, ol { list-style-type:none;}
html { height:100%;}
body { height:100%; font-size:14px; line-height:18px; font-family:'HelveticaNeueCyr-Roman'; color:#333; background:#fff;}
.clear { clear:both; height:0; font-size:0;}
table { width:100%; border-collapse:collapse; border-spacing:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
input, button, textarea, label { font-family:'HelveticaNeueCyr-Roman';}

@font-face {
    font-family:'HelveticaNeueCyr-Roman';
    src: url('fonts/HelveticaNeueCyr-Roman.eot');
    src: url('fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
         url('fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'),
         url('fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* HOMEPAGE */
body.homepage { background:#3d3a3e; font-size:13px; line-height:17px; color:#ccc;}
.homepage #wrapper { min-width:1000px;}
.homepage .center { max-width:1140px; margin:0 auto; position:relative;}
#home_header .center { height:400px;}
.header_device { display:block; width:302px; height:319px; background:url(../images/header_device.png) no-repeat 0 0; position:absolute; bottom:0; right:54px;}
#home_header #logo { position:absolute; left:50%; top:50%; margin:-79px 0 0 -80px;}
#nav_block { min-height:1px; overflow:hidden; padding-top:8px;}
.main_menu { float:right;}
.main_menu li { float:left; margin:0 12px;}
.main_menu li a { display:block; height:28px; line-height:28px; font-size:16px; color:#3d3a3e; text-transform:uppercase; padding-top:3px;}
.main_menu li.login-link a { background:url(../images/login_ico.png) no-repeat right center; padding-right:40px;}
.pattern_top, .pattern_bottom { height:7px; width:100%; position:absolute; left:0; background:url(../images/pattern.png) repeat-x;}
.pattern_top { top:-6px; background-position:top;}
.pattern_bottom { bottom:-6px; background-position:bottom;}

/* benefits section */
.benefits_section { position:relative; z-index:3;}
.benefits_list { text-align:center; vertical-align:top; font-size:0; line-height:0; padding:64px 0 57px;}
.benefits_list li { display:inline-block; .display:inline; vertical-align:top; zoom:1; width:220px; margin:0 35px; font-size:13px; line-height:17px;}
.benefits_list li .thumb { margin-bottom:18px;}

/* home_gray */
.home_gray { background:#ececec url(../images/home_gray.jpg) repeat 0 0; position:relative; height:450px; z-index:2;}
.pattern_bottom.gray { background:url(../images/pattern_gray.png) repeat-x 0 0;}
.big_device { position:absolute; top:77px; width:718px; left:50%; margin-left:-359px; z-index:10;}
.big_device .left_arrows { background:url(../images/arrows_left.png) no-repeat 0 0; width:287px; height:290px; position:absolute; top:-4px; left:-169px;}
.big_device .right_arrows { background:url(../images/arrows_right.png) no-repeat 0 0; width:243px; height:253px; position:absolute; top:-17px; right:-134px;}

/* simple-easy */
.simple-easy { height:484px;}
.simple_inner { width:1000px; margin:0 auto; position:relative; height:484px;}
.simple_device { position:absolute; width:353px; height:385px; background:url(../images/device2.png) no-repeat 0 0; bottom:0; right:73px;}
.simple_text { padding-top:166px; width:400px; margin-left:140px; color:#fff;}
.simple_text h2 { line-height:54px; font-size:48px; color:#fff;}
.simple_text p { font-size:16px; line-height:18px; margin-bottom:18px;}

/* clients section */
.clients_section { position:relative; z-index:2; padding:40px 0;}
.clients_section h2 { font-size:48px; color:#ccc; line-height:54px; text-align:center; margin-bottom:28px;}
.clients_list_wrap { min-height:1px; overflow:hidden; padding-bottom:52px;}
.clients_list { float:right; position:relative; right:50%;}
.clients_list li { float:left; position:relative; left:50%; text-align:center; height:120px; width:180px; margin:0 10px;}
.clients_list li span { display:table-cell; height:120px; width:180px; vertical-align:middle;}

/* INNER PAGES */
#wrapper { border-top:10px solid #3d3a3e; min-width:1160px;}
#root { width:1160px; margin:0 auto;}

#page { margin-left:10px; min-height:1px; padding-bottom:20px;}
#page_template { margin:0 10px;}
input[type="radio"], input[type="checkbox"] { position:absolute; left:-100px; opacity:0; filter: alpha(opacity=0);}
input[type="radio"]:disabled + label, input[type="checkbox"]:disabled + label { color: gray !important;}

/* logo */
.logo_box { background:#fff; margin-top:-10px;}
.logo_img { position:relative;}
.logo_img img { display:block;}
.logo_img .logo_refresh { position:absolute; display:block; width:35px; height:35px; background:url(../images/refresh.png) no-repeat 0 0; right:-17px; bottom:-17px;}
.logo_text { text-align:center; color:#333;}
.site_title { font-size:24px; line-height:24px;}
.site_address { font-size:12px; line-height:16px;}
#page .logo_box { text-align:center; padding:21px 0 12px;}
#page .logo_img { width:100px; margin:0 auto 17px;}
header .logo_box { padding:23px 23px 19px; min-height:1px; overflow:hidden;}
header .logo_img { float:left; width:50px;}
header .logo_img img { width:50px; height:auto;}
header .logo_text { float:right; width:162px; padding-top:4px;}

/* header */
header { height:82px; margin-bottom:38px;}
.table_menu { float:left; padding:23px 0 0 45px;}
.table_menu>li { float:left; text-align:center; width:64px; margin:0 5px; position:relative;}
.table_menu>li:hover { z-index:10;}
.table_menu>li>a { display:block; line-height:14px; font-size:11px; color:#fff; text-decoration:none;}
.table_menu>li>a>.menu_icon { display:block; width:40px; height:40px; margin:0 auto 4px; background:url(../images/table_menu_icons.png) no-repeat;}
.table_menu li.menu_send .menu_icon { background-position:0 0;}
.table_menu li.menu_close .menu_icon { background-position:-41px 0;}
.table_menu li.menu_del .menu_icon { background-position:-82px 0;}
.table_menu li.menu_check .menu_icon { background-position:-123px 0;}
.table_menu li.menu_cancel .menu_icon { background-position:-164px 0;}
.table_menu li.menu_send:hover .menu_icon, .table_menu li.menu_send.active .menu_icon { background-position:0 -41px;}
.table_menu li.menu_close:hover .menu_icon, .table_menu li.menu_close.active .menu_icon { background-position:-41px -41px;}
.table_menu li.menu_del:hover .menu_icon, .table_menu li.menu_del.active .menu_icon { background-position:-82px -41px;}
.table_menu li.menu_check:hover .menu_icon, .table_menu li.menu_check.active .menu_icon { background-position:-123px -41px;}
.table_menu li.menu_cancel:hover .menu_icon, .table_menu li.menu_cancel.active .menu_icon { background-position:-164px -41px;}
.table_menu>li:hover>a, .table_menu>li.active>a { color:#ff8200;}
.table_menu li .table_submenu { display:none; position:absolute; top:46px; width:124px; left:50%; margin-left:-62px;}
.table_menu li:hover .table_submenu { display:block;}
.table_menu li .table_submenu li { margin-bottom:1px;}
.table_menu li .table_submenu li a { display:block; line-height:18px; padding:10px 20px; background:#fff; text-decoration:none; font-size:16px; color:#333; text-align:left;}
.table_menu li .table_submenu li a:hover { background:#ff8200; color:#fff;}
.header_right { width:420px; padding:22px 0 36px; min-height:1px; overflow:hidden;}
header .header_right { float:right; margin-right:20px;}
.header_right .search { float:left;}
.header_right .inp_search { height:20px; line-height:20px; padding:6px 12px 5px; background:none; outline:none; border:none; border-bottom:1px solid #fff; color:#fff; font-size:14px; width:111px; float:left;}
.header_right .submit_search { display:block; float:left; width:32px; height:32px; background:url(../images/header_links.png) no-repeat 0 0; border:none; cursor:pointer; outline:none; margin-left:5px;}
.header_right .right_links { float:left;}
.header_right .right_links a { display:block; float:left; width:32px; height:32px; background:url(../images/header_links.png) no-repeat; margin-left:8px;}
.header_right .right_links a.list_ic { background-position:0 -33px;}
.header_right .right_links a.mail_ic { background-position:0 -66px;}
.header_right .right_links a.set_ic { background-position:0 -99px;}
.header_right .login_box { float:right;}
.login_box .login_ic { float:right; width:32px; height:32px; background:url(../images/header_links.png) no-repeat 0 -132px;}
.login_box .login_entry { float:left; text-align:right; width:80px; margin-right:8px; font-size:12px; line-height:14px; color:#fff; padding:2px 0;}
.login_box .login_entry .login-link { color:#ff8200;}

/* column left */
.column_left { float:left; width:260px;}
.left_menu { padding-top:1px; margin-bottom:11px;}
.left_menu li+li { margin-top:1px;}
.left_menu li a { display:block; font-size:18px; line-height:24px; color:#333; text-decoration:none; padding:13px 28px; background:#fff; position:relative;}
.left_menu .submenu { display:none; border-top:4px solid #b5b1a4; border-bottom:5px solid #f1eee8; border-left:3px solid transparent; border-right:3px solid transparent; border-top:4px solid  rgba(255, 255, 255, 0.4); border-bottom:5px solid rgba(255, 255, 255, 0.8); border-left:3px solid  rgba(255, 255, 255, 0); border-right:3px solid  rgba(255, 255, 255, 0); margin-bottom:-1px;}
.left_menu li.opened>.submenu { display:block;}
.left_menu .submenu li a { background:url(../images/white60.png) repeat 0 0; padding:10px 25px;}
.left_menu .submenu .submenu { border-top:5px solid #8c8573; border-bottom:5px solid #e7e3dc; border-top:5px solid rgba(255, 255, 255, 0.1); border-bottom:5px solid rgba(255, 255, 255, 0.8);}
.left_menu .submenu .submenu li a { background:url(../images/white30.png) repeat 0 0;}
.left_menu .submenu .submenu li.active a { color:#fff;}
.left_menu li.active a span { position:absolute; width:34px; height:34px; right:-5px; top:50%; margin-top:-17px; background:url(../images/menu_arrow.png) no-repeat 0 0; display:block;}
.leftmenu_buttons  { min-height:76px; margin-bottom:15px;}
.leftmenu_buttons li { float:left; text-align:center; padding-bottom:26px; width:60px;}
.leftmenu_buttons li+li { margin-left:5px;}
.leftmenu_buttons li a { font-size:11px; color:#fff; line-height:12px; text-decoration:none; display:block; position:relative;}
.leftmenu_buttons li img { display:block; margin:0 auto;}
.leftmenu_buttons li span { display:none; position:absolute; top:52px; left:0; width:100%;}
.leftmenu_buttons li a:hover span { display:block;}

/* column center */
.column_center { float:left; width:375px; margin-left:30px; padding-top:90px;}
.dishes_head { padding-bottom:9px;}
.dish_box { padding-left:18px; color:#fff; text-decoration:none; padding-right:90px; position:relative; min-height:80px; display:block; text-decoration:none;}
.dish_box .dish_entry { height:80px; vertical-align:middle; display:table-cell; width:265px;}
.dish_box .dish_title { display:block; font-size:24px; line-height:28px;}
.dish_box .dish_desc { font-size:14px; display:block; line-height:15px;}
.dish_box .dish_icon { position:absolute; display:block; right:0; top:50%; margin-top:-40px; width:80px; height:80px; border-radius:50%;}
.dish_box .dish_icon img { border-radius:50%;}
.dishes_list { border-top:1px solid #fff; padding-top:5px; margin-bottom:15px;}
.dishes_list li { padding:10px 0;}
.dishes_list li .dish_box:hover, .dishes_list li .dish_box.active { background:url(../images/dishes_hover.png) repeat-y right 0; text-decoration:none;}

.dishes_section { border:1px solid #fff; padding:9px; max-height:560px; outline:none;}
.dishes_list2 { padding-right:15px; padding-top:5px;}
.dishes_list2 li { min-height:1px; overflow:hidden;}
.dishes_list2 li .dish_box:hover, .dishes_list2 li .dish_box.active { text-decoration:none;}
.dishes_list2 input[type="checkbox"]+label { cursor: pointer; position:relative; display:block; padding-left:25px;}
.dishes_list2 input[type="checkbox"]+label:before { content: ""; display:block; position:absolute; top:13px; left:0; height:20px; width:20px; background:url(../images/bullit.png) no-repeat 0 0;}
.dishes_list2 input[type="checkbox"].checked + label:before { background-position:0 -21px;}
.dishes_list2 .dish_box { padding:0 55px 0 12px; min-height:60px;}
.dishes_list2 input[type="checkbox"].checked + label .dish_box { background:url(../images/dishes_hover.png) repeat-y 0 0;}
.dishes_list2 .dish_box .dish_entry { width:230px; height:60px;}
.dishes_list2 .dish_box .dish_title { font-size:20px; line-height:26px;}
.dishes_list2 .dish_box .dish_desc { font-size:12px;}
.dishes_list2 .dish_box .dish_icon { right:5px; margin-top:-25px; width:50px; height:50px;}

.dishes_section .scroll-pane { width:100%; max-height:560px; overflow: auto; outline:none;}
.jspContainer { overflow:hidden; position:relative;}
.jspPane { position: absolute;}
.jspVerticalBar { position: absolute; top: 0; right: 0; width:10px; height: 100%; background:none;}
.jspCap { display: none;}
.jspTrack { background:url(../images/black10.png) repeat 0 0; position: relative;}
.jspDrag { background:#fff; position: relative; top: 0; left: 0; cursor: pointer;}

/* column right */
.column_right { float:right; width:455px;}
.product_section { background:url(../images/product_bg.png) repeat-y 0 0; padding:34px 30px 39px 35px; margin-bottom:15px;}
.edit-link { display:block; width:30px; height:30px; background:url(../images/edit_ico.png) no-repeat 0 0; position:absolute; bottom:5px; right:5px;}
.refresh { display:block; width:30px; height:30px; background:url(../images/refresh2.png) no-repeat 0 0; position:absolute; bottom:5px; right:5px;}
.product_row { padding-bottom:20px; min-height:1px; overflow:hidden;}
.product_label { font-size:14px; line-height:15px; margin-bottom:5px; display:block; padding:0 12px;}
.product_title { position:relative; height:36px;}
.product_title input { background:#fff; padding:5px 40px 5px 12px; font-size:20px; color:#222; line-height:26px; border:none; outline:none; width:338px;}
.product_title .edit-link { bottom:50%; margin-bottom:-15px;}
.product_desc { position:relative; width:250px; float:left;}
.product_desc textarea { background:#fff; position:relative; font-size:16px; color:#222; padding:17px 40px 17px 12px; width:198px; float:left; height:96px; border:none; outline:none; resize:vertical; overflow:auto; display:block;}
.product_thumb { float:right; width:130px; height:130px; position:relative;}
.product_left { float:left; width:250px; position:relative;}
.product_serving { padding:6px 12px; font-size:16px; color:#222; background:#fff; height:46px; width:226px; border:none; outline:none; overflow:auto; resize:vertical; display:block;}
.serving_del { display:block; width:24px; height:24px; position:absolute; background:url(../images/plus-minus.png) no-repeat 0 0; left:50%; margin-left:-12px; bottom:-12px;}
.product_right { float:right; width:130px;}
.prices_list li { height:26px;}
.prices_list li+li { margin-top:6px;}
.prices_list li .prices_left { float:left; width:38px;}
.prices_list li .prices_cell { display:table-cell; height:26px; line-height:13px; width:38px; vertical-align:middle; font-size:12px; color:#666;}
.prices_list li .prices_cell .action { color:#ff8200;}
.prices_list li .check_item { height:26px; background:#fff; float:right; width:90px; position:relative;}
.prices_list li .check_item input.inp_price { padding:3px 26px 3px 12px; display:block; line-height:20px; height:20px; width:52px; background:#fff; color:#333; font-size:16px; border:none; outline:none;}
.prices_list input[type="radio"]+label { cursor: pointer; position:absolute; top:3px; right:5px; height:20px; width:20px; display:block;}
.prices_list input[type="radio"]+label:before { content: ""; display:block; position:absolute; top:0; right:0; height:20px; width:20px; background:url(../images/radio_prices.png) no-repeat 0 0;}
.prices_list input[type="radio"].checked + label:before { background-position:0 -21px;}
.new_serving { background:#fff; position:relative; padding:3px 12px; height:24px; line-height:24px; font-size:16px;}
.new_serving .serving_add { display:block; position:absolute; width:24px; height:24px; left:50%; margin-left:-12px; bottom:-12px; background:url(../images/plus-minus.png) no-repeat 0 -25px;}
.hit_box { background:#fff; padding:0 12px; line-height:30px; height:30px; position:relative; font-size:20px; color:#ff8200;}
.hit_box .hit-btn { display:block; position:absolute; width:24px; height:24px; left:50%; margin-left:-12px; bottom:-12px; background:url(../images/plus-minus.png) no-repeat 0 -50px;}
.hit_box.opened .hit-btn { background-position:0 -75px;}
.add_hit { padding-top:15px; display:none;}
.add_hit .product_serving { width:366px;}

.spec_checkbox { margin-bottom:10px; position:relative;}
.spec_checkbox input[type="checkbox"]+label { cursor: pointer; position:relative; padding-left:70px; line-height:30px; display:inline-block; z-index:2; font-size:16px; color:#ff8200;}
.spec_checkbox input[type="checkbox"]+label:before { content: ""; display:block; position:absolute; top:0; left:0; height:30px; width:30px; background:url(../images/checkbox_handle.png) no-repeat 0 0; transition: all .2s; -moz-transition: all .2s; -webkit-transition: all .2s; -o-transition: all .2s; -ms-transition: all .2s;}
.spec_checkbox input[type="checkbox"].checked+label:before { margin-left:30px;}
.spec_checkbox .checkbox_bg { position:absolute; top:0; left:0; height:30px; width:60px; background:url(../images/spec_checkbox.png) no-repeat 0 0; z-index:1;}
.spec_checkbox input[type="checkbox"].checked ~ label ~ .checkbox_bg { background-position:0 -31px;}

.product_submit_wrap { padding-top:20px;}
.product_submit { display:block; width:80px; height:80px; background:url(../images/product_submit.png) no-repeat 0 0; border:none; cursor:pointer; outline:none; margin:0 auto;}

/* order table */
.order_table { border:1px solid #fff; border-collapse:separate; margin-bottom:30px;}
.order_table tr { cursor:pointer;}
.order_table th { background:#fff; font-weight:normal; font-size:20px; color:#3d3a3e; line-height:20px; padding:5px 20px;}
.order_table td { background:url(../images/black20.png) repeat 0 0; font-size:16px; color:#fff; line-height:20px; padding:12px 20px; text-align:center; border-top:2px solid #90816d; border-top:2px solid rgba(255, 255, 255, 0.2);}
.order_table tr.current td { background:#ff8200;}
.order_table th.lefttext, .order_table td.lefttext { text-align:left;}
.order_table input[type="checkbox"]+label { cursor: pointer; position:relative; display:block; padding-left:20px; height:20px;}
.order_table input[type="checkbox"]+label:before { content: ""; display:block; position:absolute; left:0; top:0; height:20px; width:20px; background:url(../images/bullit.png) no-repeat 0 0;}
.order_table input[type="checkbox"].checked + label:before { background-position:0 -21px;}
.position_box { width:136px; margin:0 auto;}
.position_count { float:left; line-height:24px; width:26px; text-align:center;}
.position_change { float:left; width:110px; position:relative; height:24px;}
.position_change .position_text { border:1px solid #fff; border:1px solid rgba(255, 255, 255, 0.65); height:22px; line-height:22px; font-size:14px; color:#fff; text-decoration:none; display:block; padding:0 6px 0 22px; text-align:left;}
.position_change .position_text span { display:block; height:22px; padding-right:20px; background:url(../images/position_arrow.png) no-repeat right center;}
.position_change .position_list { display:none; position:absolute; top:24px; left:0; background:#333; min-width:100%; text-align:left; z-index:10;}
.position_change .position_list li { border:1px solid #fff; border:1px solid rgba(255, 255, 255, 0.65);}
.position_change .position_list li+li { border-top:none;}
.position_change .position_list li a { display:block; line-height:18px; font-size:14px; color:#fff; text-decoration:none; padding:2px 12px;}
.position_change .position_list li:hover a { background:url(../images/white30.png) repeat 0 0;}
.position_change .position_list li.selected a { background:#ff8200;} 

/* Custom Mobile size */
@media screen and (max-width: 1160px) {
	.orders_page #wrapper { min-width:630px;}
	.orders_page #root { width:100%;}
	#page_template header { height:auto;}
	#page_template .table_menu { clear:both; float:none; width:370px; margin:0 auto; padding:20px 0 0;}
	.order_table th, .order_table td { padding-left:10px; padding-right:10px;}
}

@media screen and (max-width: 980px) {
	.order_table .hide-m { display:none !important;}
}

@media screen and (max-width: 760px) {
	#page_template header .column_left,	#page_template header .header_right { float:none; margin:0 auto;}
	#page_template header .header_right { padding-top:36px;}
}