﻿/* Custom Autocomplete */
.ui-autocomplete {
    background: #ffffff;
    border: 1px solid #B1B1B1;
    overflow-y: auto;
    max-height: 400px;
    max-width: 490px;
}

.ui-autocomplete li {
    font-size: 13px;

    border-top: 1px solid #E2E2E2;

}

.ui-autocomplete li:first-child {
    border: none;
}

.ui-autocomplete li a {
    display: block;
    padding: 0 10px;
    line-height: 23px;
}

.ui-autocomplete li:hover a,
.ui-autocomplete li a:hover {
    font-weight: normal;
    color: #333333;
}

.ui-autocomplete li .ac-s {
    color: #52A3B6;
}

.ui-autocomplete li .ac-s2 {
    color: #333333;
}

.ui-autocomplete li .ac-s,
.ui-autocomplete li .ac-s2 {
    font-weight: bold;
}

.ui-autocomplete li .ac-st {
    color: #AAAAAA;
}